doctype html
html(lang="en")
  head
    title NodeJS test application
    meta(charset="UTF-8")
    link(rel="stylesheet", href=assetURL + 'assets/bundle.css')
  body
    div Not much is here :)
    .test But this text ought to be red
    #data And this is where the data from the API will be placed in a second
    script(type='text/javascript', src=assetURL + 'assets/client.js')
